@model IEnumerable<planventas.Data.Pos_Instalacion>
@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;
        margin: 15px;
    }
 
    .card-footer{
        height:40px;
    }

    body {
        background-image: none;
    }

        body::after {
            background: none;
        }
</style>

<div id="uno" class="container-fluid" style="margin-top:100px;">

    <div class="row">
        <div class="col-10">
            <div class="thead-light" style="text-align: center; margin-bottom: 30px; font-family: 'Open Sans', Arial, sans-serif; text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);">
                <p><h1 style="text-align: left; margin-left:20px; margin-bottom: 40px; font-family: 'Open Sans', Arial, sans-serif; text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);">@ViewData["TipoInsta"]</h1></p>
            </div>
        </div>
        <div class="col-2" style="align-items:center">
            <a href="javascript:history.back()"> <img src="~/img/back2.png" height="70" width="70" alt="regresar" />Regresar</a>
        </div>
    </div>

    <div class="piscina">
        @foreach (var item in Model)
        {
            string number = "~/img/" + item.Dir_Imagenes;
            string alt1 = "Image" + @item.Cod_Instalacion.ToString();
            <div class="card">
                <div class="card-body">  
                    <div class="thumbex">
                        <div class="title">
                            <div class="thumbnail"><a asp-area="" asp-route-id="@item.Cod_Instalacion" asp-controller="FE_Instalaciones" asp-action="ListProductos"> <img src="@Url.Content(number)" alt=@alt1 /><span>@Html.DisplayFor(modelItem => item.Des_Instalacion)</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p>@Html.DisplayFor(modelItem => item.Des_Direccion)</p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(document).ready(function () {
            hideBusyIndicator();
        });
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
    </script>

}


