@using System.Globalization;
@model planventas.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Servicios";
}

<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;
        margin: 5px;
    }
body{
    background-image:none;
}
    body::after {
        background:none;
    }


</style>



<div class="container-fluid" style="margin-top:75px;">
    <div class="row col-12" style="font-family: 'Open Sans', Arial, sans-serif; text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);">
        <div class="col-2" style="margin-left: 10px;">
            <br />
            <br />
            <h4>Filtrar y  buscar por:</h4>
        </div>
        <div class="col-9" style="display:inline-flex">
            <div class="col-9">
                <h3>@ViewData["Insta"]</h3>
                <h5>Cursos y Horarios</h5>
            </div>
            <div class="col-3" style="align-items:center;">
                <a href="javascript:history.back()"> <img src="~/img/back2.png" height="70" width="70" alt="regresar" />Regresar</a>
            </div>
        </div>

    </div>

    <div class="row col-12">
        <div class="col-2" style="margin-left: 10px;">
            <!--Inicio Sidebar de filtro-->
            <div class="sidebar-block px-5 px-lg-0 me-lg-4" style="margin-left:10px;">
                <div class="sidebar-block px-3 px-lg-0 me-lg-4">
                    <a class="d-lg-none block-toggler" data-bs-toggle="collapse" href="#brandFilterMenu" aria-expanded="true" aria-controls="brandFilterMenu">Filter by brand</a>
                    <div class="expand-lg collapse show" id="CateFilterMenu">
                        <h6 class="sidebar-heading d-none d-lg-block"><b>Categoría </b></h6>
                        <form class="mt-4 mt-lg-0" action="#">
                            <div class="mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="Cate0" type="checkbox" name="clothes-brand" checked="">
                                    <label class="form-check-label" for="Cate0">Todos <small>(24)</small></label>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="Cate1" type="checkbox" name="clothes-brand">
                                    <label class="form-check-label" for="Cate1">Niños <small>(6)</small></label>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="Cate2" type="checkbox" name="clothes-brand">
                                    <label class="form-check-label" for="Cate2">Adulto <small>(13)</small></label>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="Cate3" type="checkbox" name="clothes-brand">
                                    <label class="form-check-label" for="Cate3">Adulto Mayor <small>(5)</small></label>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="Cate4" type="checkbox" name="clothes-brand">
                                    <label class="form-check-label" for="Cate4">Hidroquinesia <small>(5)</small></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <div class="sidebar-block px-5 px-lg-0 me-lg-4" style="margin-left:10px;">
                <a class="d-lg-none block-toggler" data-bs-toggle="collapse" href="#sizeFilterMenu" aria-expanded="false" aria-controls="sizeFilterMenu">Filter by size</a>
                <div class="expand-lg collapse show" id="sizeFilterMenu">
                    <h6 class="sidebar-heading d-none d-lg-block"><b>Día de la Semana</b></h6>
                    <form class="mt-4 mt-lg-0" action="#">
                        <div class="mb-1">
                            <div class="form-check">
                                <input class="form-check-input" id="Dia0" type="checkbox" name="clothes-brand" checked="">
                                <label class="form-check-label" for="brand0">Todos</label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="form-check">
                                <input class="form-check-input" id="Dia1" type="checkbox" name="clothes-brand">
                                <label class="form-check-label" for="Dia1">Lunes</label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="form-check">
                                <input class="form-check-input" id="Dia2" type="checkbox" name="clothes-brand">
                                <label class="form-check-label" for="Dia2">Martes</label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="form-check">
                                <input class="form-check-input" id="Dia3" type="checkbox" name="clothes-brand">
                                <label class="form-check-label" for="Dia3">Miércoles</label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="form-check">
                                <input class="form-check-input" id="Dia4" type="checkbox" name="clothes-brand">
                                <label class="form-check-label" for="Dia4">Jueves</label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="form-check">
                                <input class="form-check-input" id="Dia5" type="checkbox" name="clothes-brand">
                                <label class="form-check-label" for="Dia5">Viernes</label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="form-check">
                                <input class="form-check-input" id="Dia6" type="checkbox" name="clothes-brand">
                                <label class="form-check-label" for="Dia6">Sábado</label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <div class="form-check">
                                <input class="form-check-input" id="Dia7" type="checkbox" name="clothes-brand">
                                <label class="form-check-label" for="Dia7">Domingo</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>  <!--Final Sidebar de filtro-->

        <div class="row col-8">

            <div class="col-md-3 align-self-end">
                @if (Model.Quantity > 0)
                {
                    <a asp-action="ShowCart" asp-route-insta="@Model.Products.First(x => x.Cod_Instalacion != 0).Cod_Instalacion" class="btn btn-outline-primary"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Ver Carro de Compras (@Model.Quantity)</a>
                }
            </div>

            <div class="row row-cols-1 row-cols-md-4 g-3 mt-1">
                @if (Model.Products.Count() > 0)
                {
                    @foreach (var item in Model.Products)
                    {
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h6 class="card-title text-navy">@item.Des_Servicio</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center zoom">
                                        <img src="~/img/natacion1.jpg" style="height:120px; max-width:180px;" class="text-center" alt=@item.Cod_Instalacion />
                                    </div>
                                    <p class="card-text smfnt">@item.Dia &nbsp;-&nbsp; @item.Horario</p>
                                    <h5 class="text-muted">Tarifa :&nbsp;@String.Format(new CultureInfo("es-CR"), "{0:C}", item.Tarifa)</h5>
                                </div>
                                <div class="card-footer text-center">
                                    <a asp-action="Details" asp-route-id="@item.IdServicio" class="btn btn-sm btn-secondary">Detalles</a>
                                    <a asp-action="Add" asp-route-id="@item.IdServicio" class="btn btn-sm btn-primary">Agregar al Carro</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h3>No hay productos con su criterio de búsqueda</h3>
                }
            </div>


        </div>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
