@model planventas.Data.Pos_Entrenador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pos_Entrenador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_Entrenador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_Entrenador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Des_Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Des_Perfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dir_Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dir_Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario_Registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario_Registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Borra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Borra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario_Borra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario_Borra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo_Borra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo_Borra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pos_Instalacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pos_Instalacion.Des_Direccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cod_Entrenador">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
