@model planventas.Data.Pos_Tipo_Instalacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_fondo.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Pos_Tipo_Instalacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Des_TipoInstalacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Des_TipoInstalacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario_Registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario_Registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Borra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Borra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario_Borra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario_Borra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo_Borra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo_Borra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cod_TipoInstalacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
